// Mobile first

@use './variables.scss';
@use './header.scss';
@use './main.scss';
@use './mediaquery.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
}