// $orange: hsl(26, 100%, 55%); //orange
// $pale-orange: hsl(25, 100%, 94%); //pale orange
// $very-dark-blue: hsl(220, 13%, 13%); //very dark blue 
// $dark-grayish-blue: hsl(219, 9%, 45%); //dark grayish blue
// $grayish-blue: hsl(220, 14%, 75%); //grayish blue
// $light-grayish-blue: hsl(223, 64%, 98%); //light grayish blue
// $white: hsl(0, 0%, 100%); //white
// $black: hsl(0, 0%, 0%, .75); //black (with 75% opacity for modal background
// $p-font-size: 1rem; //paragraph font size

@use './variables.scss' as cart;

.cart {
  display: none;
  position: absolute;
  top: 4.8rem;
  width: 95vw;
  margin-inline: .5rem;
  background-color: cart.$white;
  border-radius: .5rem;
  box-shadow: 2px 15px 18px hsla(0, 0%, 0%, .3);
}

.cart-title {
  padding: 1rem 0 1.5rem 1rem;
  border-bottom: 1px solid cart.$grayish-blue;
  font-size: .7rem;
}

.cart-empty-container {
  padding: 4rem;
  text-align: center;
  font-weight: 700;
  color: cart.$dark-grayish-blue;
}

.calc-quantity-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.cart-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .cart-thumbnail {
    width: 15vw;
    border-radius: .3rem;
  }
}

.quantity-info-container {
  
  p {
    color: cart.$dark-grayish-blue;

    span {
      color: cart.$very-dark-blue !important;
      font-weight: 700;
    }
  }
}

.checkout-container {
  display: flex;
  justify-content: center;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem .5rem;
  width: 95%;
  background-color: cart.$orange;
  color: cart.$white;
  border: none;
  border-radius: .8rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 2px 15px 8px cart.$pale-orange;
  transition: 300ms;
}

.checkout:hover {
  opacity: .7;
}

.delete {
  cursor: pointer;
}

// class added and removed to #cart
.open-close {
  display: block;
}

// Media queries for >= 1200px moved here
// Won't work in original mediaquery.scss

@media (min-width: 1200px) {

  .cart {
    width: 35vw;
    top: 4.2rem;
    right: 4rem;
  }

  .cart-info-container {

    .cart-thumbnail {
      width: 7vw;
    }
  }

  .quantity-info-container {

    p {
      font-size: 1rem;
    }
  }

  .delete {
    width: 1rem;
  }
}

@media (min-width: 1440px) {

  .cart {
    width: 25vw;
  }
}
