@use  './variables.scss' as head;

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  padding: 1rem;
}

.header-section-1 {
  display: flex;
  align-items: center;
}

.mobile-menu {
  // display: none;
}

.logo {
  padding-left: .8rem;
}


.header-section-2 {
  display: flex;
  align-items: center;
}

.nav-links {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: head.$black;
}

.nav-links-container {
  background-color: head.$white;
  width: 50%;
  height: 100vh;
}

.close-icon {
  padding: 1rem;
}

.menu-list {
  padding: 1rem;

  li {
    margin-bottom: .9rem;

    a {
      color: head.$very-dark-blue;
      font-weight: 700;
    }
  }
}

.header-cart {
  padding-right: .75rem;
}

.avatar {
  width: 2rem;
}