// $orange: hsl(26, 100%, 55%); //orange
// $pale-orange: hsl(25, 100%, 94%); //pale orange
// $very-dark-blue: hsl(220, 13%, 13%); //very dark blue 
// $dark-grayish-blue: hsl(219, 9%, 45%); //dark grayish blue
// $grayish-blue: hsl(220, 14%, 75%); //grayish blue
// $light-grayish-blue: hsl(223, 64%, 98%); //light grayish blue
// $white: hsl(0, 0%, 100%); //white
// $black: hsl(0, 0%, 0%, .75); //black (with 75% opacity for modal background
// $p-font-size: 1rem; //paragraph font size

@use  './variables.scss' as head;

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  padding: .75rem;
}

.header-section-1 {
  display: flex;
  align-items: center;
}

.logo {
  padding-left: .8rem;
}


.header-section-2 {
  display: flex;
  align-items: center;
}

.nav-links {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 150vh;
  width: 100vw;
  z-index: 2;
  background-color: head.$black;
}

.nav-links-container {
  background-color: head.$white;
  width: 50%;
  height: 150vh;
}

.close-icon {
  padding: 1rem;
}

.menu-list {
  padding: 1rem;

  li {
    margin-bottom: .9rem;

    a {
      color: head.$very-dark-blue;
      font-weight: 700;
    }
  }
}

.header-cart {
  padding-right: .75rem;
}

.avatar {
  width: 2rem;
}