// $orange: hsl(26, 100%, 55%); //orange
// $pale-orange: hsl(25, 100%, 94%); //pale orange
// $very-dark-blue: hsl(220, 13%, 13%); //very dark blue 
// $dark-grayish-blue: hsl(219, 9%, 45%); //dark grayish blue
// $grayish-blue: hsl(220, 14%, 75%); //grayish blue
// $light-grayish-blue: hsl(223, 64%, 98%); //light grayish blue
// $white: hsl(0, 0%, 100%); //white
// $black: hsl(0, 0%, 0%, .75); //black (with 75% opacity for modal background
// $p-font-size: 1rem; //paragraph font size

@use './variables.scss' as main;

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-images-container {
  width: 100%;
  position: relative;
  margin-top: 1rem;

  .product-img {
    width: 100%;
    cursor: pointer;
  }
}

.carousel-container {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chevron-container {
  background-color: main.$white;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  padding: .3rem .3rem ;
}

.chevron:hover {
  color: main.$orange;
}

.left-chevron {
  margin-left: 1rem;
  cursor: pointer;
}

.right-chevron {
  margin-right: 1rem;
  cursor: pointer;
}

.thumbnail-images-container {
  display: none;
}

.text-container {
  margin-inline: 1rem;
  margin-top: 1.2rem;
  width: 90%;
}

.info-container {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1.5rem;
    color: main.$orange;
  }

  .product-name {
    font-size: 2rem;
    margin-top: 1.2rem;
  }

  .description {
    margin-top: 1rem;
    color: main.$dark-grayish-blue;
    line-height: 1.5;
  }
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;

  .net-price {
    font-size: 1.75rem;

    .discount {
      font-size: 1rem;
      background-color: main.$pale-orange;
      color: main.$orange;
      border-radius: 25%;
      padding: .2rem;
      vertical-align: middle;
      margin-left: .25rem;
    }
  }

  .gross-price {
    font-size: 1.2rem;
    color: main.$grayish-blue;
    text-decoration: line-through;
  }
}

.buy-quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  .quantity-container {
    display: flex;
    margin-top: .5rem;
    padding: 1rem .5rem;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    background-color: main.$light-grayish-blue;
    border-radius: .8rem;

    .counter {
      cursor: pointer;
      transition: 300ms;
    }

    .counter:hover {
      opacity: .5;
    }

    span {
      font-weight: 700;
    }
  }

  .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem .5rem;
    width: 95%;
    background-color: main.$orange;
    color: main.$white;
    border: none;
    border-radius: .8rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 15px 8px main.$pale-orange;
    transition: 300ms;

    .cart {
      margin-right: .5rem;
    }
  }

  .add-to-cart:hover {
    opacity: .7;
  }
}

