// $orange: hsl(26, 100%, 55%); //orange
// $pale-orange: hsl(25, 100%, 94%); //pale orange
// $very-dark-blue: hsl(220, 13%, 13%); //very dark blue 
// $dark-grayish-blue: hsl(219, 9%, 45%); //dark grayish blue
// $grayish-blue: hsl(220, 14%, 75%); //grayish blue
// $light-grayish-blue: hsl(223, 64%, 98%); //light grayish blue
// $white: hsl(0, 0%, 100%); //white
// $black: hsl(0, 0%, 0%, .75); //black (with 75% opacity for modal background
// $p-font-size: 1rem; //paragraph font size

@use './variables.scss' as media;

// screen size: 768px (tablet minimum size)

@media (min-width: 768px) {

  .mobile-menu {
    display: none;
  }
  
  .nav-links {
    display: flex;
    position: relative;
    background: none;
    height: 1.25rem;
    width: 10vw;
    padding-left: 2.5rem;
  }

  .nav-links-container {
    background: none;

    .menu-list {
      display: flex;
      padding: 0;
      gap: 1rem;

      li {

        a {
          color: media.$dark-grayish-blue;
          font-weight: 400;
        }
      }
    }
  }

  .close-icon {
    display: none;
  }

  .header-cart {
    margin-right: 1rem;
  }

  .avatar {
    width: 3rem;
  }

  main {
    border-top: 1px solid media.$grayish-blue;
  }

  .carousel-container {
    display: none;
  }

  .thumbnail {
    width: 100%;
  }

  .thumbnail-images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    padding: .5rem;
    margin-top: 1rem;
  }

  .thumbnail {
    border-radius: 1rem;
    cursor: pointer;
  }

  .thumbnail:hover {
    opacity: .7;
    outline: 2px solid media.$orange;
  }

  .active {
    border: 2px solid media.$orange;
    opacity: .7;
  }

  .quantity-info-container {
    
    p {
      font-size: 1.3rem;
    }
  }

  .delete {
    width: 1.5rem;
  }
}

// screen size: 1200px (laptop screen size)

@media (min-width: 1200px) {

  header {
    padding-inline: 2.5rem;
  }

  .nav-links {
    z-index: 0;
  }

  main {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-inline: 3rem;
  }

  .product-img {
    border-radius: 1rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-container {
    margin-bottom: 2rem;
  }

  .price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .buy-quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;

    .quantity-container {
      width: 40%;
    }
  }
}

// screen size: 1440px (desktop minimum screen size)

@media (min-width: 1440px) {

  .product-images-container {
    width: 85%;
  }

  .thumbnail-images-container {
    width: 85%;
  }
}

// screen size: 1600px (desktop size)

@media (min-width: 1600px) {

  header {
    padding-inline: 6rem;
  }

  main {
    margin-inline: 6rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
  }

  .menu-list li {
    margin-right: 1.5rem;
  }

  .images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-images-container {
    width: 85%;
  }

  .thumbnail-images-container {
    width: 85%;
    column-gap: 2rem;
  }

  .info-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description {
      width: 60%;
    }
  }

  .buy-quantity-container {
    width: 80%;
  }

  .price-container {
    margin-top: 4rem;
  }
}

// screen size: 1920px (full browser size)

@media (min-width: 1920px) {

  main {
    column-gap: 0;
  }

  .product-images-container {
    width: 70%;
  }

  .thumbnail-images-container {
    width: 70%;
  }

  .text-container {
    margin: 0;

    .info-container {

      .title {
        font-size: 1.8rem;
      }

      .product-name {
        font-size: 2.2rem;
      }

      .description {
        font-size: 1.1rem;
      }
    }
  }

}