// $orange: hsl(26, 100%, 55%); //orange
// $pale-orange: hsl(25, 100%, 94%); //pale orange
// $very-dark-blue: hsl(220, 13%, 13%); //very dark blue 
// $dark-grayish-blue: hsl(219, 9%, 45%); //dark grayish blue
// $grayish-blue: hsl(220, 14%, 75%); //grayish blue
// $light-grayish-blue: hsl(223, 64%, 98%); //light grayish blue
// $white: hsl(0, 0%, 100%); //white
// $black: hsl(0, 0%, 0%, .75); //black (with 75% opacity for modal background
// $p-font-size: 1rem; //paragraph font size

@use './variables.scss' as modal;

@media (max-width: 1999px) {
  .modal {
    display: none;
  }
}

@media (min-width: 1200px) {

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, .8);
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }

  .modal-product-images-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-close {
    color: modal.$grayish-blue;
    font-size: 1.5rem;
    align-self: flex-end;
  }
  
  .modal-close:hover {
    color: modal.$orange;
    cursor: pointer;
  }

  .modal-img {
    width: 90%;
    border-radius: 1rem;
  }
  
  .modal-carousel-container {
    position: absolute;
    top: 50%;
    width: 47%;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-chevron-container {
    background-color: modal.$white;
    width: 2rem;
    text-align: center;
    border-radius: 50%;
    padding: .3rem .3rem ;
  }
  
  .modal-left-chevron, .modal-right-chevron {
    cursor: pointer;
  }
  
  .modal-left-chevron:hover, .modal-right-chevron:hover {
    color: modal.$orange;
  }

  
  .modal-thumbnail-images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .modal-thumbnail {
    border-radius: 1rem;
    width: 70%;
    cursor: pointer;
    justify-self: center;
  }
  
  .modal-thumbnail:hover {
    opacity: .8;
    border: 2px solid modal.$orange;
  }
  
}

@media (min-width: 1600px) {
  .modal-product-images-container {
    width: 40%;
  }

  .modal-img {
    width: 90%;
  }

  .modal-carousel-container {
    width: 38%;
  }
}

