$orange: hsl(26, 100%, 55%); //orange
$pale-orange: hsl(25, 100%, 94%); //pale orange
$very-dark-blue: hsl(220, 13%, 13%); //very dark blue 
$dark-grayish-blue: hsl(219, 9%, 45%); //dark grayish blue
$grayish-blue: hsl(220, 14%, 75%); //grayish blue
$light-grayish-blue: hsl(223, 64%, 98%); //light grayish blue
$white: hsl(0, 0%, 100%); //white
$black: hsl(0, 0%, 0%); //black (with 75% opacity for modal background
$p-font-size: 1rem; //paragraph font size